In [1]:
print('Prajwal sfjasofaff')

Prajwal sfjasofaff

In [2]:
# IN this notebook we are going to see Regression using Deep Learning library Keras

In [4]:
# importing the required libraries
import numpy as np
import pandas as pd

In [5]:
# You can get data in the following 
#URL: https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv

In [6]:
df = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')

In [7]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [8]:
#Doing some Data analysis and preprocessing

In [9]:
df.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [11]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [12]:
#the data looks quiet clean

In [13]:
df.tail()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [14]:
#we have to predict "Strength" of the cement , so we see which column is best corelated with Srength

In [15]:
df.corr()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
Cement,1.000000,-0.275216,-0.397467,-0.081587,0.092386,-0.109349,-0.222718,0.081946,0.497832
Blast Furnace Slag,-0.275216,1.000000,-0.323580,0.107252,0.043270,-0.283999,-0.281603,-0.044246,0.134829
Fly Ash,-0.397467,-0.323580,1.000000,-0.256984,0.377503,-0.009961,0.079108,-0.154371,-0.105755
Water,-0.081587,0.107252,-0.256984,1.000000,-0.657533,-0.182294,-0.450661,0.277618,-0.289633
Superplasticizer,0.092386,0.043270,0.377503,-0.657533,1.000000,-0.265999,0.222691,-0.192700,0.366079
Coarse Aggregate,-0.109349,-0.283999,-0.009961,-0.182294,-0.265999,1.000000,-0.178481,-0.003016,-0.164935
Fine Aggregate,-0.222718,-0.281603,0.079108,-0.450661,0.222691,-0.178481,1.000000,-0.156095,-0.167241
Age,0.081946,-0.044246,-0.154371,0.277618,-0.192700,-0.003016,-0.156095,1.000000,0.328873
Strength,0.497832,0.134829,-0.105755,-0.289633,0.366079,-0.164935,-0.167241,0.328873,1.000000

In [18]:
import matplotlib.pyplot as plt

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
Cement                1030 non-null float64
Blast Furnace Slag    1030 non-null float64
Fly Ash               1030 non-null float64
Water                 1030 non-null float64
Superplasticizer      1030 non-null float64
Coarse Aggregate      1030 non-null float64
Fine Aggregate        1030 non-null float64
Age                   1030 non-null int64
Strength              1030 non-null float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [21]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [22]:
df.shape

(1030, 9)

In [23]:
df.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [24]:
X = df[['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age']]

In [25]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [26]:
Y = df['Strength']

In [27]:
Y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [28]:
X.shape

(1030, 8)

In [29]:
Y.shape

(1030,)

In [30]:
# to insert this input data into the keras we need to first Normalize the input data

In [31]:
X1= (X- X.mean())/X.std()

In [32]:
X1

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597

In [39]:
X1.shape[1] #number of predictor

8

In [40]:
in_shape = X1.shape[1]

In [41]:
in_shape

8

In [42]:
# now we import kearas library

In [43]:
import keras

Using TensorFlow backend.

In [44]:
from keras.models import Sequential
from keras.layers import Dense

In [45]:
# Now building the model
model = Sequential()

In [46]:
# Adding layers to the model

In [49]:
model.add(Dense(55, input_shape = (in_shape,), activation = 'relu'))

In [50]:
model.add(Dense(60, activation = 'relu'))

In [51]:
model.add(Dense(1))

In [52]:
#now compile the model
model.compile(loss = 'mean_squared_error', optimizer = 'adam')

In [53]:
model.fit(X1,Y, validation_split=0.3, epochs = 100, verbose = 1)

Train on 721 samples, validate on 309 samples
Epoch 1/100
721/721 [==============================] - 5s 6ms/step - loss: 1637.3370 - val_loss: 1132.3585
Epoch 2/100
721/721 [==============================] - 0s 244us/step - loss: 1481.2758 - val_loss: 952.1877
Epoch 3/100
721/721 [==============================] - 0s 305us/step - loss: 1132.2828 - val_loss: 597.8015
Epoch 4/100
721/721 [==============================] - 0s 237us/step - loss: 588.5700 - val_loss: 260.0254
Epoch 5/100
721/721 [==============================] - 0s 237us/step - loss: 304.7244 - val_loss: 209.9083
Epoch 6/100
721/721 [==============================] - 0s 300us/step - loss: 255.8160 - val_loss: 186.0224
Epoch 7/100
721/721 [==============================] - 0s 459us/step - loss: 230.7139 - val_loss: 175.1652
Epoch 8/100
721/721 [==============================] - 0s 425us/step - loss: 218.1935 - val_loss: 169.1308
Epoch 9/100
721/721 [==============================] - ETA: 0s - loss: 207.633 - 1s 796us/step - loss: 208.3324 - val_loss: 161.5960
Epoch 10/100
721/721 [==============================] - 0s 275us/step - loss: 200.2087 - val_loss: 155.2638
Epoch 11/100
721/721 [==============================] - 0s 258us/step - loss: 193.6719 - val_loss: 148.9304
Epoch 12/100
721/721 [==============================] - 0s 201us/step - loss: 186.7534 - val_loss: 143.8470
Epoch 13/100
721/721 [==============================] - 0s 327us/step - loss: 181.8631 - val_loss: 140.0890
Epoch 14/100
721/721 [==============================] - 0s 327us/step - loss: 177.2939 - val_loss: 136.5607
Epoch 15/100
721/721 [==============================] - 1s 833us/step - loss: 172.2326 - val_loss: 134.6477
Epoch 16/100
721/721 [==============================] - 0s 275us/step - loss: 168.8649 - val_loss: 133.2550
Epoch 17/100
721/721 [==============================] - 0s 348us/step - loss: 165.8920 - val_loss: 129.9264
Epoch 18/100
721/721 [==============================] - 0s 435us/step - loss: 162.3743 - val_loss: 128.1278
Epoch 19/100
721/721 [==============================] - 0s 361us/step - loss: 159.0198 - val_loss: 126.5774
Epoch 20/100
721/721 [==============================] - 0s 243us/step - loss: 157.0188 - val_loss: 124.8887
Epoch 21/100
721/721 [==============================] - 0s 375us/step - loss: 154.8376 - val_loss: 122.5081
Epoch 22/100
721/721 [==============================] - 0s 239us/step - loss: 152.7026 - val_loss: 122.3393
Epoch 23/100
721/721 [==============================] - 0s 233us/step - loss: 150.8927 - val_loss: 124.4567
Epoch 24/100
721/721 [==============================] - 0s 235us/step - loss: 147.9428 - val_loss: 121.1350
Epoch 25/100
721/721 [==============================] - 0s 308us/step - loss: 145.9269 - val_loss: 122.9849
Epoch 26/100
721/721 [==============================] - 0s 243us/step - loss: 143.9206 - val_loss: 121.0775
Epoch 27/100
721/721 [==============================] - 0s 310us/step - loss: 141.8937 - val_loss: 120.9161
Epoch 28/100
721/721 [==============================] - 0s 244us/step - loss: 139.9311 - val_loss: 120.5121
Epoch 29/100
721/721 [==============================] - 0s 628us/step - loss: 138.0897 - val_loss: 125.9968
Epoch 30/100
721/721 [==============================] - 0s 560us/step - loss: 136.3632 - val_loss: 118.5909
Epoch 31/100
721/721 [==============================] - 0s 352us/step - loss: 134.2969 - val_loss: 123.3612
Epoch 32/100
721/721 [==============================] - 0s 327us/step - loss: 131.7958 - val_loss: 121.1703
Epoch 33/100
721/721 [==============================] - 0s 343us/step - loss: 129.7749 - val_loss: 124.6451
Epoch 34/100
721/721 [==============================] - 0s 303us/step - loss: 127.5967 - val_loss: 123.5211
Epoch 35/100
721/721 [==============================] - 0s 302us/step - loss: 125.6927 - val_loss: 121.1050
Epoch 36/100
721/721 [==============================] - 0s 354us/step - loss: 123.6820 - val_loss: 125.4510
Epoch 37/100
721/721 [==============================] - 0s 152us/step - loss: 120.9109 - val_loss: 126.9988
Epoch 38/100
721/721 [==============================] - 0s 130us/step - loss: 118.5236 - val_loss: 126.1579
Epoch 39/100
721/721 [==============================] - 0s 133us/step - loss: 115.0544 - val_loss: 127.5381
Epoch 40/100
721/721 [==============================] - 0s 145us/step - loss: 112.2994 - val_loss: 128.7072
Epoch 41/100
721/721 [==============================] - 0s 130us/step - loss: 109.3261 - val_loss: 121.6389
Epoch 42/100
721/721 [==============================] - 0s 130us/step - loss: 106.0549 - val_loss: 129.9752
Epoch 43/100
721/721 [==============================] - 0s 217us/step - loss: 103.2351 - val_loss: 127.8875
Epoch 44/100
721/721 [==============================] - 0s 538us/step - loss: 101.5894 - val_loss: 119.7022
Epoch 45/100
721/721 [==============================] - 0s 386us/step - loss: 97.2486 - val_loss: 122.2965
Epoch 46/100
721/721 [==============================] - 0s 254us/step - loss: 93.4840 - val_loss: 126.8178
Epoch 47/100
721/721 [==============================] - 0s 308us/step - loss: 90.9788 - val_loss: 126.2586
Epoch 48/100
721/721 [==============================] - 0s 251us/step - loss: 87.4566 - val_loss: 130.9634
Epoch 49/100
721/721 [==============================] - 0s 339us/step - loss: 84.4096 - val_loss: 120.0541
Epoch 50/100
721/721 [==============================] - 0s 361us/step - loss: 82.2116 - val_loss: 127.3715
Epoch 51/100
721/721 [==============================] - 0s 244us/step - loss: 79.5310 - val_loss: 118.5279
Epoch 52/100
721/721 [==============================] - 0s 422us/step - loss: 76.7899 - val_loss: 137.9128
Epoch 53/100
721/721 [==============================] - 0s 322us/step - loss: 75.4789 - val_loss: 122.9214
Epoch 54/100
721/721 [==============================] - 0s 165us/step - loss: 73.0980 - val_loss: 123.2264
Epoch 55/100
721/721 [==============================] - 0s 139us/step - loss: 70.8503 - val_loss: 124.5496
Epoch 56/100
721/721 [==============================] - 0s 135us/step - loss: 69.1756 - val_loss: 122.4468
Epoch 57/100
721/721 [==============================] - 0s 152us/step - loss: 67.7892 - val_loss: 125.5788
Epoch 58/100
721/721 [==============================] - 1s 790us/step - loss: 66.1500 - val_loss: 130.3388
Epoch 59/100
721/721 [==============================] - 0s 368us/step - loss: 65.2645 - val_loss: 123.9081
Epoch 60/100
721/721 [==============================] - 0s 324us/step - loss: 63.5521 - val_loss: 127.8461
Epoch 61/100
721/721 [==============================] - 0s 407us/step - loss: 62.6243 - val_loss: 124.8004
Epoch 62/100
721/721 [==============================] - 0s 350us/step - loss: 61.8304 - val_loss: 125.3340
Epoch 63/100
721/721 [==============================] - 0s 350us/step - loss: 60.5811 - val_loss: 129.2317
Epoch 64/100
721/721 [==============================] - 0s 634us/step - loss: 59.4549 - val_loss: 134.8455
Epoch 65/100
721/721 [==============================] - 1s 2ms/step - loss: 58.9314 - val_loss: 122.5249
Epoch 66/100
721/721 [==============================] - 0s 389us/step - loss: 58.1130 - val_loss: 130.0412
Epoch 67/100
721/721 [==============================] - 0s 294us/step - loss: 56.5292 - val_loss: 141.1174
Epoch 68/100
721/721 [==============================] - 1s 754us/step - loss: 56.6912 - val_loss: 135.0890
Epoch 69/100
721/721 [==============================] - 0s 397us/step - loss: 54.5829 - val_loss: 124.9341
Epoch 70/100
721/721 [==============================] - 0s 294us/step - loss: 56.0923 - val_loss: 140.9686
Epoch 71/100
721/721 [==============================] - 0s 240us/step - loss: 55.4801 - val_loss: 129.4503
Epoch 72/100
721/721 [==============================] - 0s 209us/step - loss: 53.9755 - val_loss: 123.9585
Epoch 73/100
721/721 [==============================] - 0s 205us/step - loss: 53.8286 - val_loss: 141.2245
Epoch 74/100
721/721 [==============================] - 0s 161us/step - loss: 52.0866 - val_loss: 136.1671
Epoch 75/100
721/721 [==============================] - 0s 149us/step - loss: 52.3462 - val_loss: 141.7708
Epoch 76/100

721/721 [==============================] - 0s 200us/step - loss: 52.5586 - val_loss: 145.2415
Epoch 77/100
721/721 [==============================] - 0s 164us/step - loss: 50.3825 - val_loss: 135.4064
Epoch 78/100
721/721 [==============================] - 0s 179us/step - loss: 50.0039 - val_loss: 141.0009
Epoch 79/100
721/721 [==============================] - 0s 168us/step - loss: 49.9626 - val_loss: 137.4978
Epoch 80/100
721/721 [==============================] - 0s 118us/step - loss: 48.9429 - val_loss: 141.8023
Epoch 81/100
721/721 [==============================] - 0s 247us/step - loss: 48.7245 - val_loss: 138.2042
Epoch 82/100
721/721 [==============================] - 0s 182us/step - loss: 48.2450 - val_loss: 136.7073
Epoch 83/100
721/721 [==============================] - 0s 160us/step - loss: 47.9392 - val_loss: 141.2852
Epoch 84/100
721/721 [==============================] - 0s 167us/step - loss: 48.1761 - val_loss: 150.4523
Epoch 85/100
721/721 [==============================] - 0s 168us/step - loss: 48.1770 - val_loss: 133.4616
Epoch 86/100
721/721 [==============================] - 0s 173us/step - loss: 47.1036 - val_loss: 136.0836
Epoch 87/100
721/721 [==============================] - 0s 168us/step - loss: 46.3151 - val_loss: 134.1824
Epoch 88/100
721/721 [==============================] - 0s 174us/step - loss: 46.4107 - val_loss: 136.1679
Epoch 89/100
721/721 [==============================] - 0s 164us/step - loss: 45.8529 - val_loss: 148.8704
Epoch 90/100
721/721 [==============================] - 0s 178us/step - loss: 46.1906 - val_loss: 149.4046
Epoch 91/100
721/721 [==============================] - 0s 172us/step - loss: 45.4573 - val_loss: 138.7183
Epoch 92/100
721/721 [==============================] - 0s 168us/step - loss: 44.6936 - val_loss: 138.8747
Epoch 93/100
721/721 [==============================] - 0s 347us/step - loss: 44.9452 - val_loss: 139.0232
Epoch 94/100
721/721 [==============================] - 0s 165us/step - loss: 44.7315 - val_loss: 131.9705
Epoch 95/100
721/721 [==============================] - 0s 147us/step - loss: 44.4977 - val_loss: 149.7025
Epoch 96/100
721/721 [==============================] - 0s 145us/step - loss: 44.7702 - val_loss: 144.7851
Epoch 97/100
721/721 [==============================] - 0s 161us/step - loss: 43.4808 - val_loss: 138.1136
Epoch 98/100
721/721 [==============================] - 0s 204us/step - loss: 43.2887 - val_loss: 144.2488
Epoch 99/100
721/721 [==============================] - 0s 162us/step - loss: 42.9048 - val_loss: 136.3163
Epoch 100/100
721/721 [==============================] - 0s 170us/step - loss: 42.9934 - val_loss: 143.7941

In [54]:
# now the model is created we can predict on the input data

In [55]:
pr = model.predict(X1)

In [56]:
pr[0]

array([74.21923], dtype=float32)

In [57]:
Y[0]

79.99

In [58]:
pr.shape

(1030, 1)

In [59]:
Y.shape

(1030,)